<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form id="fileupload" action="/UploadFile" enctype="multipart/form-data" method="post">
        <input class="style_file_content" accept=".txt" type="file" id="file" name="file"/>
    </form>
    <button id="button" onclick="submit()">提交</button>
</div>
</br>
<div>
    <form id="mongofileupload" action="/putFileToMongo" enctype="multipart/form-data" method="post">
        <input class="style_file_content" accept="*.*" type="file" id="mongofile" name="file"/>
    </form>
    <button id="mongobutton" onclick="mongosubmit()">提交</button>
</div>

<div>
    <div><img id="mongodbimg" style="width: 100px; height: 100px"/></div>
    <button id="mongoget" onclick="mongoget()">刷新</button>
</div>

<div>
    <form id="testOOM" action="/testOOM" enctype="multipart/form-data" method="post">
        <input class="style_file_content" accept="*.*" type="file" id="testOOMInput" name="file"/>
    </form>
    <button id="testOOMbutton" onclick="testOOMsubmit()">testOOM</button>
</div>

<div>
    <div id="StackOOMValue"></div>
    <input id="StackOOMInput" name="StackOOMInput"/>
    <button id="testStackOOM" onclick="testStackOOM()">testStackOOM</button>
</div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script>
    function submit(){
        console.log("11");
        $("#fileupload").submit();
    }

    function mongosubmit(){
        console.log("mongo");
        $("#mongofileupload").submit();
    }

    function mongoget(){
        console.log("mongoget");
        $.ajax({url:"getFileFromMongo?fileid=617cbc681c54f43a1f036183",success:function(result){
                $("#mongodbimg").attr("src","data:image/png;base64,"+result);
            }});
    }

    function testOOMsubmit(){
        console.log("testOOMsubmit");
        $("#testOOM").submit();
    }

    function testStackOOM(){
        console.log("testStackOOM");
        var StackOOMInput = $("#StackOOMInput").val();
        $.ajax({url:"testStackOOM/"+StackOOMInput,success:function(result){
                $("#StackOOMValue").attr("value",result);
            }});
    }
</script>
</html>